Version: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    env: sandbox
spec:
  replicas: 3
  selector:
    matchLabels:
      env: sandbox
  template:
    metadata:
      labels:
        env: sandbox
    spec:
      containers:
        - name: nginx
          image: abhishek5963/jenkins_k8s_nginx:latest
          ports:
            - containerPort: 80

